<div class="filters">
    <button>Type <i class="fas fa-chevron-down"></i></button>
    <button>People <i class="fas fa-chevron-down"></i></button>
    <button>Modified <i class="fas fa-chevron-down"></i></button>
    <button>Location <i class="fas fa-chevron-down"></i></button>
  </div>