<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FileVault</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="/favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/f8965f607b.js"
    crossorigin="anonymous"
  ></script>
</head>
